---

---
<script>
    console.log("Hello World")
</script>
<html lang="en">
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <h1>Welcome to my website!</h1>
    <main>
        <div >[Main Area]</div>
        
    </main>
  </body>
</html>